<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.recommentflowchartui">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RecommentFlowchartUI"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".CategoryVideoList"
            android:exported="false" />
        <activity
            android:name=".MakeComments"
            android:exported="false" />
        <activity
            android:name=".Commentlist"
            android:exported="false" />
        <activity
            android:name=".SeeProfile"
            android:exported="false" />
        <activity
            android:name=".OtherPage"
            android:exported="false" />
        <activity
            android:name=".FriendPage"
            android:exported="false" />
        <activity
            android:name=".uploadcategory"
            android:exported="false" />
        <activity
            android:name=".Friendlist"
            android:exported="false" />
        <activity
            android:name=".Mainpage"
            android:exported="false" />
        <activity
            android:name=".upload_page"
            android:exported="false" />
        <activity
            android:name=".post_page"
            android:exported="false" />
        <activity
            android:name=".Signup_finish"
            android:exported="false" />
        <activity
            android:name=".Loginpage"
            android:exported="true" />
        <activity
            android:name=".Signup_page2"
            android:exported="true" />
        <activity
            android:name=".Signup_page1"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>